footer { 
    position: fixed;
    bottom: 0;
    background-color: slategray;
    border-top: 2px solid green;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 60px;
    color: white;
}
.myhead {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
.mycontact {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
.img-thumbnail {
    align-items: center;
    margin-left: 68px;
}

